name: CI

on:
  push:
    branches:
      - main

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install -r requirements.txt


      - name: Say hello
        run: echo "CI is working for tiny-task-api!"
